asgiref==3.8.1
crispy-tailwind==1.0.3
django==5.1.1
django-crispy-forms==2.3
django-extensions==3.2.3
django-tailwind==3.8.0
django-environ==0.11.2
pillow==10.4.0
PyMySQL==1.1.1
sqlparse==0.5.1
tzdata==2024.1
whitenoise==6.7.0