<footer class="footer footer-center bg-gray-200 text-base-content rounded p-6 w-full text-black">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover" href="https://maps.app.goo.gl/NRyzbD337Rrkokh5A" target="_blank">
        <i class="fas fa-map-marker-alt"></i>
        <span class="ml-2">Rte de Sebala, El Achour 16000</span>
    </a>
    <a class="link link-hover" href="tel:0540900254">
        <i class="fas fa-phone"></i>
        <span class="ml-2">0540 90 02 54</span>
    </a>
    <a class="link link-hover" href="mailto:institut-torii@institut-torii.com">
        <i class="fas fa-envelope"></i>
        <span class="ml-2">Contact</span>
    </a>
</nav>
        <nav>
          <div class="grid grid-flow-col gap-4">
            <a href="https://instagram.com" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="https://youtube.com" target="_blank">
                <i class="fab fa-youtube fa-2x"></i>
            </a>
            <a href="https://facebook.com" target="_blank">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://tiktok.com" target="_blank">
                <i class="fab fa-tiktok fa-2x"></i>
            </a>
        </div>
    </nav>
    <aside>
      <p>Copyright © {% now "Y" %} - All rights reserved by Institut Torii</p>
    </aside>
</footer>