{% load static tailwind_tags %}

<!DOCTYPE html>
<html class="bg-white" lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Institut Torii {% endblock title %}</title>
    {% tailwind_css %}
    <link rel="icon" type="image/png" href="{% static 'images/logo_verticale.png' %}" />
        <!-- Favicon links -->
        <link rel="icon" type="image/png" href="https://instituttorii.sirv.com/Images/logo_verticale.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="https://instituttorii.sirv.com/Images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://instituttorii.sirv.com/Images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://instituttorii.sirv.com/Images/favicon-16x16.png">
        <link rel="manifest" href="https://instituttorii.sirv.com/Images/site.webmanifest">
        <link rel="mask-icon" href="https://instituttorii.sirv.com/Images/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="https://instituttorii.sirv.com/Images/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="https://instituttorii.sirv.com/Images/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

    {% block head_style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    {% endblock head_style %}
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- header section starts  -->
    {% block navigation %} {% include "fragments/navigation.html" %} {% endblock navigation %}
    {% block header %}{% endblock header %}
    {% block hero %}{% endblock hero %}
    {% block services %}{% endblock services %}
    <main class="flex-grow">
      {% block content %}{% endblock content %}
    </main>
    {% block footer %} {% include "fragments/footer.html" %}{% endblock footer %}
     
    {% block bottom_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock bottom_scripts %}
  </body>
</html>