{% extends "base.html" %}

{% block title %}Cours de coréen - Institut Torii{% endblock title %}

{% block content %}
<h1 class="mt-16 mb-4 text-4xl font-extrabold leading-none tracking-tight text-black-900 md:text-5xl lg:text-6xl dark:text-black text-center">Nos cours de <span class="underline underline-offset-3 decoration-8 decoration-blue-500 dark:decoration-blue-500">{{ subject_title|lower }}</span></h1>

<div class="container mx-auto px-4 py-8">
  <div class="flex flex-wrap justify-center gap-8">
    {% if courses %}
      {% for course in courses %}

      <div class="card bg-blue-100 w-96 shadow-xl text-black">
        <figure class="px-10 pt-10">
          {% if course.thumbnail %}
          <img
          src="{{ course.thumbnail}}"
            alt="{{ course.title }}"
            class="rounded-xl w-[252px] h-[170px] object-cover" />
          {% else %}
          <img
            src="https://via.placeholder.com/252x170"
            alt="{{ course.title }}"
            class="rounded-xl w-[252px] h-[170px] object-cover" />
          {% endif %}
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">{{ course.title }}</h2>
          <ul class="text-left mt-4 space-y-2">
            {% if course.type == 'individual' %}
          <li><strong>Prix:</strong> {{ course.price }} DA/heure</li>
          {% else %}
          <li><strong>Prix:</strong> {{ course.price }} DA les 3 mois</li>
          {% endif %}
            <li><strong>Inscription:</strong> {{ course.enrollment }}</li>
            {% if course.type == 'individual' %}
    <li><strong>Fréquence:</strong> Personnalisée</li>
    
    {% elif course.type != 'individual' and not course.frequency %}



{% else %}
<li><strong>Fréquence:</strong> {{ course.frequency }}</li>
{% endif %}

{% if course.type == 'individual' %}
{% else %}
<li><strong>Durée:</strong> {{ course.duration }}</li>
{% endif %}


{% if course.type == 'individual' %}
    <li><strong>Jour:</strong> 
        Personnalisé
    </li>
{% elif not course.days %}
    <li><strong>Jour:</strong> 
        Bientôt communiqué
    </li>
{% else %}
    <li><strong>Jour:</strong> 
        {{ course.days }}
    </li>
{% endif %}

{% if course.type == 'individual' %}
    <li><strong>Heure:</strong> 
        Personnalisée
    </li>
{% elif not course.hour %}
    <li><strong>Heure:</strong> 
        Bientôt communiquée
    </li>
{% else %}
    <li><strong>Heure:</strong> 
        {{ course.hour }}
    </li>
{% endif %}

{% if course.type == 'individual' %}
    <li><strong>Date de début:</strong> 
        Personnalisée
    </li>
{% elif not course.start_date %}
    <li><strong>Date de début:</strong> 
        Bientôt disponible
    </li>
{% else %}
    <li><strong>Date de début:</strong> 
        {{ course.start_date }}
    </li>
{% endif %}

{% if course.type == 'individual' %}
    <li><strong>Date de fin:</strong> 
        Personnalisée
    </li>
{% elif not course.end_date %}
    <li><strong>Date de fin:</strong> 
        Bientôt disponible
    </li>
{% else %}
    <li><strong>Date de fin:</strong> 
        {{ course.end_date }}
    </li>
{% endif %}
          <li><strong>Sujet:</strong> {{ course.subject.name }}</li>
        </ul>
      </div>
    </div>
    {% endfor %}
    {% else %}
      {% include "fragments/no_courses.html" %}
    {% endif %}
  </div>
</div>
{% endblock content %}