{% extends "base.html" %}

{% block content %}
<h1 class="mt-16 mb-4 text-4xl font-extrabold leading-none tracking-tight text-black-900 md:text-5xl lg:text-6xl dark:text-black text-center">Nos <span class="underline underline-offset-3 decoration-8 decoration-orange-300 dark:decoration-orange-300">{{ subject_title|lower }}</span></h1>

<div class="container mx-auto px-4 py-8">
  <div class="flex flex-wrap justify-center gap-8">
    {% if courses %}
      {% for course in courses %}

      <div class="card bg-orange-100 w-96 shadow-xl text-black">
        <figure class="px-10 pt-10">
          {% if course.thumbnail %}
          <img
          src="{{ course.thumbnail}}"
            alt="{{ course.title }}"
            class="rounded-xl w-[252px] h-[170px] object-cover" />
          {% else %}
          <img
            src="https://via.placeholder.com/252x170"
            alt="{{ course.title }}"
            class="rounded-xl w-[252px] h-[170px] object-cover" />
          {% endif %}
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">{{ course.title }}</h2>
          <ul class="text-left mt-4 space-y-2">
            <li><strong>Prix:</strong> {{ course.price }} DA</li>
            <li><strong>Disponibilité:</strong> {{ course.available|yesno:"Disponible,Non disponible" }}</li>

            {% if course.type=='sushis' %}
            {% else %}
            <li><strong>Fréquence:</strong> {{ course.frequency }}</li>

            {% endif %}
            {% if course.type == 'individual' %}
{% else %}
<li><strong>Durée:</strong> {{ course.duration }}</li>
{% endif %}
            <li><strong>Jour:</strong> 
    {% if course.days %}
        {{ course.days }}
    {% else %}
        Bientôt communiqué
    {% endif %}
</li>
    <li><strong>Heure:</strong> 
{% if course.hour %}    
    {{ course.hour }}
        {% else %}
        Bientôt communiquée
    {% endif %}
    
    </li>
<li><strong>Date de début:</strong> 
    {% if course.start_date %}
        {{ course.start_date }}
    {% else %}
        Bientôt disponible
    {% endif %}
</li>
<li><strong>Date de fin:</strong> 
    {% if course.end_date %}
        {{ course.end_date }}
    {% else %}
        Bientôt disponible
    {% endif %}
</li>
          </ul>
        </div>
      </div>
      {% endfor %}
    {% else %}
      {% include "fragments/no_courses.html" %}
    {% endif %}
  </div>
</div>
{% endblock content %}